@import 'tailwindcss';

@font-face {
  font-family: 'ATRotisSemiSans';
  src: url('/blackwell-prototype/public/fonts/ATRotisSemiSans-Light.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ATRotisSemiSans';
  src: url('/blackwell-prototype/public/fonts/ATRotisSemiSans-ExtraBold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #3a53ba;
  color: #171717;
  font-family: 'ATRotisSemiSans', sans-serif;
  /* font-family: 'ATRotisSemiSans', sans-serif; */
}
